<a href="https://colab.research.google.com/github/nptikiran/Python-program/blob/main/SelfLearningPracticeProjectOfPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
df1 = ['Algeria','Angola','Argentina','Australia','Austria','Bahamas',
       'Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria',
       'Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark',
       'El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia',
       'Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia',
       'Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia',
       'Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru',
       'Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland',
       'Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay',
       'Venezuela','Vietnam','Zimbabwe'
       ]

In [ ]:
df2 = [2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,
       588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,
       590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,
       2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,
       402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,
       1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,
       5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,
       3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,
       39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,
       757.4009286,347.7456605]

In [ ]:
df3 = zip(df2, df1)

In [ ]:
type(df3)

zip

In [ ]:
a = list(df3)

In [ ]:
a

[(2255.225482, 'Algeria'),
 (629.9553062, 'Angola'),
 (11601.63022, 'Argentina'),
 (25306.82494, 'Australia'),
 (27266.40335, 'Austria'),
 (19466.99052, 'Bahamas'),
 (588.3691778, 'Bangladesh'),
 (2890.345675, 'Belarus'),
 (24733.62696, 'Belgium'),
 (1445.760002, 'Bhutan'),
 (4803.398244, 'Brazil'),
 (2618.876037, 'Bulgaria'),
 (590.4521124, 'Cambodia'),
 (665.7982328, 'Cameroon'),
 (7122.938458, 'Chile'),
 (2639.54156, 'China'),
 (3362.4656, 'Colombia'),
 (15378.16704, 'Cyprus'),
 (30860.12808, 'Denmark'),
 (2579.115607, 'El Salvador'),
 (6525.541272, 'Estonia'),
 (229.6769525, 'Ethiopia'),
 (2242.689259, 'Fiji'),
 (27570.4852, 'Finland'),
 (23016.84778, 'France'),
 (1334.646773, 'Georgia'),
 (402.6953275, 'Ghana'),
 (6047.200797, 'Grenada'),
 (394.1156638, 'Guinea'),
 (385.5793827, 'Haiti'),
 (1414.072488, 'Honduras'),
 (5745.981529, 'Hungary'),
 (837.7464011, 'India'),
 (1206.991065, 'Indonesia'),
 (27715.52837, 'Ireland'),
 (18937.24998, 'Italy'),
 (39578.07441, 'Japan'),
 (478.2194906, 'Kenya'),
 (16684.21278, 'South Korea'),
 (279.2204061, 'Liberia'),
 (5345.213415, 'Malaysia'),
 (6288.25324, 'Mexico'),
 (1908.304416, 'Morocco'),
 (274.8728621, 'Nepal'),
 (14646.42094, 'New Zealand'),
 (40034.85063, 'Norway'),
 (672.1547506, 'Pakistan'),
 (3359.517402, 'Peru'),
 (36152.66676, 'Qatar'),
 (3054.727742, 'Russia'),
 (33529.83052, 'Singapore'),
 (3825.093781, 'South Africa'),
 (15428.32098, 'Spain'),
 (33630.24604, 'Sweden'),
 (39170.41371, 'Switzerland'),
 (2699.123242, 'Thailand'),
 (21058.43643, 'United Arab Emirates'),
 (28272.40661, 'United Kingdom'),
 (37691.02733, 'United States'),
 (9581.05659, 'Uruguay'),
 (5671.912202, 'Venezuela'),
 (757.4009286, 'Vietnam'),
 (347.7456605, 'Zimbabwe')]

In [ ]:
print("Countries with Highest GDP : ",max(a))

Countries with Highest GDP :  (40034.85063, 'Norway')

In [ ]:
print("Countries with Lowest GDP : ",min(a))

Countries with Lowest GDP :  (229.6769525, 'Ethiopia')

In [ ]:
min(df2)

229.6769525

In [ ]:
max(df2)

40034.85063

In [ ]:
print('Mean of GDP value :',np.mean(df2))

Mean of GDP value : 11289.409271639683

In [ ]:
print('standardized GDP value :',np.std(df2))

standardized GDP value : 12743.828910617945

In [ ]:
print('sum of all GDP value :',np.sum(df2))

sum of all GDP value : 711232.7841133